<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<script src="script.js">

	</script>

<div style="width:13%;background:green;display:block;height:980px;float:left;padding:10px;border: 10px solid" id="navbar">
		<nav>
      <li><a href="dashboard"><p>Dashboard</p></a></li>
      <li><a href="timetable"><p>Timetable</p></a></li>
      <li><a href="profile"><p>Profile</p></a></li>
      <li><a href="logout"><p>Log Out</p></a></li>
	  </nav>
  </div>
  <div id="login" style="width:700px; height:1000px; padding= 20px; border: 10px solid;display:block;">
    <h1>Step two</h1>
    {{ message }}
    <form action="" method="POST">
      
      <div style="display: {{ ifs1 }};">
        <input type="text" id="s1" name="s1"></input><input type="color" name="s1col"></input>
      </div>

      <div style="display: {{ ifs2 }};">
        <input type="text" id="s2" name="s2"></input><input type="color" name="s2col"></input>
      </div>

      <div style="display: {{ ifs3 }};">
        <input type="text" id="s3" name="s3"></input><input type="color" name="s3col"></input>
      </div>

      <div style="display: {{ ifs4 }};">
        <input type="text" id="s4" name="s4"></input><input type="color" name="s4col"></input>
      </div>

      <div style="display: {{ ifs5 }};">
        <input type="text" id="s5" name="s5"></input><input type="color" name="s5col"></input>
      </div>

      <div style="display: {{ ifs6 }};">
        <input type="text" id="s6" name="s6"></input><input type="color" name="s6col"></input>
      </div>

      <div style="display: {{ ifs7 }};">
        <input type="text" id="s7" name="s7"></input><input type="color" name="s7col"></input>
      </div>

      <div style="display: {{ ifs8 }};">
        <input type="text" id="s8" name="s8"></input><input type="color" name="s8col"></input>
      </div>

      <div style="display: {{ ifs9 }};">
        <input type="text" id="s9" name="s9"></input><input type="color" name="s9col"></input>
      </div>

      <div style="display: {{ ifs10 }};">
        <input type="text" id="s10" name="s10"></input><input type="color" name="s10col"></input>
      </div>

      <div style="display: {{ ifs11 }};">
        <input type="text" id="s11" name="s11"></input><input type="color" name="s11col"></input>
      </div>

      <div style="display: {{ ifs12 }};">
        <input type="text" id="s12" name="s12"></input><input type="color" name="s12col"></input>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</body>
</html>